$main:#B0CCD0;
$sub:#59868E;
$red:#AC5959;
$lightblue:#DEEBEB;
$gray: #707070;
$white:#FFFFFF;
$black: #333333;
$blackgray: #555555;

$sans: 'Noto Sans JP';
$serif: 'Noto Serif JP';
$KaiseiOpti: 'Kaisei Opti';
$capriola: 'Capriola';
