@use "reset";
@use "variables"as *;
@use "header";
@use "footer";
@use "modules";
@use "drawer";
@use "common";
@use "mixin"as *;
@use "darkMode";

.main-visual{
    background: url(../img/indigo.jpg) center center no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100vw;
    margin-bottom: 144px;

    @include mq(sp){
        height: 100vh;
        width: 100%;
        margin-bottom: 96px;
    }
}

ul.header-nav {
    text-align: right;
    font-family: $sans;
    color: $blackgray;
}
// 見出しの下の部分
.section{
    margin-bottom: 288px;
    @include mq(sp){
        margin-bottom: 144px;
    }
}

// about
.about{
    .section-headline{
        text-align: center;
        margin-bottom: 104px;

        @include mq(sp){
            &__sub{
                margin-bottom: 56px;
            }
        }
    }
    max-width: 1080px;
    margin: 0 auto;

    @include mq(sp){
        max-width: initial;

    }
    &1{
        position: relative;
        height: 900px;
        margin-bottom: 104px;

        @include mq(sp){
            margin-bottom: 40px;
        }

        &__img{
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            z-index: +1;
            @include mq(sp){
                width: 80%;
                top: - 104px;


            }
        }

        &-wrap{
            background-color: $lightblue;
            position: absolute;
            top: 88px;
            bottom: 0px;
            left: 0;
            height: 800px;
            width: 680px;
            padding: 48px 56px;
            // z-index: -1;
            
            @include mq(sp){
                width: 100%;
                height: 736px;
                padding: 48px 32px;
            }
        }

        &__headline{
            font-family: $KaiseiOpti;
            color: $blackgray;
            margin-bottom: 48px;
        }

        &__text{
            font-family: $sans;
            color: $blackgray;
            line-height: 2;
        }
    }
}

// Service
.service{
    .section-headline{
        text-align: center;
        &__sub{
            margin-bottom: 24px;
        }
    }

    &-wrap{
        max-width: 1080px;
        margin: 54px auto 0;
        display: flex;
        justify-content: space-between;
        row-gap: 36px;

        @include mq(sp){
            max-width: initial;
            display: initial;

        }
    }

    &-content{
        text-align: center;
        width: 300px;
        @include mq(sp){
            width: 100%;
        }

        &__img{
            height: 240px;
            width: 240px;
            border-radius: 50%;
            box-shadow: 8px 8px 8px rgba(148, 148, 148, 0.5);
            display: inline-block;

            @include mq(sp){
                height: 160px;
                width: 160px;
                margin-top: 48px;
            }
        }

        &__title{
            color: $sub;
            font-family: $KaiseiOpti;
            margin: 24px 0 4px 0;
        }

        &__sub{
            font-family: $serif;
            font-size: 14px;
            margin-bottom: 28px;
            color: $gray;
            
            @include mq (sp){
                font-size: 12px;
            }
        }

        &__text{
            font-family: $sans;
            font-weight:lighter;
            display: inline-block;
            text-align: left;
            line-height: 1.5;
            
            @include mq(sp){
                width: 85vw;
            }
        }
}
}

.section service{
    margin: 0 auto;
}

// okinawa-visual
.okinawa-visual{
    background: url(../img/umi.png) center center no-repeat;
    background-size: cover;
    height: 408px;
    width: 100vw;
    margin-bottom: 144px;
    
    @include mq(sp){
        height: 216px;
        margin-bottom: 112px;
    }
}

.works{
    .section-headline{
        text-align: center;
        margin-top: 64px;
        margin-bottom: 48px;
        @include mq(sp){
            margin-bottom: 24px;
        }
        &__mainmain{
            // margin-top: 64px;
            margin-bottom: 8px;
            color: $sub;
            @include mq(sp){
                margin-top: 112px;
                // margin-top: initial;
            }
        
        }
        &__main{
            margin-top: 48px;
        }
        &__sub{
            margin-bottom: 32px;
            @include mq(sp){
                font-size: 12px;
                margin-bottom: 16px;
            }
        }
        &__text{
            width: 60vw;
            font-family: $sans;
            font-weight:lighter;
            display: inline-block;
            text-align: left;
            line-height: 1.5;

            @include mq(sp){
                width: 80vw;
            }
        }
    }
    &-content{
        .img-box{
            background-color: $gray;
            overflow: hidden;
            // ここが入っていると立体感がなくなる
        }
        text-align: center;
        width: 360px;
        margin-bottom: 40px;

        @include mq(sp){
            height: initial;
            width: 100%;
        }

        &__img{
            height: 240px;
            width: 360px;
            box-shadow: 8px 8px 8px rgba(148, 148, 148, 0.5);
            display: inline-block;
            margin: 0 auto; 
            
            transition: all .8s ease;

            &:hover{
                transform: scale(1.2);
                opacity: 0.5;
            }
            
            @include mq(sp){
                height: initial;
                width: 100%;
            }
        }
    }
    &-web{
        .section-headline{
            text-align: center;
            font-family: $sans;
            margin-bottom: 48px;
            &__sub{
                font-family: $serif;
            }
        }
        &__wrap{
            max-width: 1120px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content:space-between;

            &-content{
                text-align: center;
                width: 360px;
                margin-bottom: 40px;
        
                @include mq(sp){
                    height: initial;
                    width: 100%;
                }
        
                &__img{
                    height: 240px;
                    width: 360px;
                    box-shadow: 8px 8px 8px rgba(148, 148, 148, 0.5);
                    display: inline-block;
                    margin: 0 auto;  
                    
                    @include mq(sp){
                        height: initial;
                        width: 100%;
                    }
                }
            }
            
            @include mq(sp){
                min-width: initial;
                padding: 0 20px;
                row-gap: 24px;
                .artcle{
                    width: 49%;
                }
            }
        }
    }
}

.mamastudio{
    text-align: center;
    font-family: $sans;
    color: $gray;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 48px;

    @include mq(sp){
        font-size: 14px;
    }
    
    &__text{  
        margin-top: 48px;
        margin-bottom: 32px;   
    }
    &__link{
        font-weight: lighter;
        margin-bottom: 32px;
        display: inline-block;
	    transition: all .8s ease;
	    text-decoration: none;

    &:hover{
        color: $red;
        cursor: pointer;
	    transform: scale(1.2);
    }
    }
}

// contact

.contact{
    background-color: $main;
    padding-top: 96px;
    padding-bottom: 72px;
    .section-headline{
        text-align: center;
        margin-bottom: 72px;
        &__main{
            color: $white;
        }
    }

    &-form{
        &__intro{
            text-align: center;
            line-height: 1.5;
            margin-bottom: 56px;
        }
    }
    .form-wrap{
        display: flex;
        justify-content: center;
        .form {
            margin-bottom: 48px;
            @include mq(sp){
                display: block;
                margin-bottom: 28px;
            }    
        &__text {
            font-family: $serif;
            font-size: 14px;
            margin-bottom: 8px;
            @include mq(sp){
                margin-bottom: 4px;
            }
        }

        &__input {
            width: 512px;
            height: 48px;
            border: 1px solid $sub;
            border-radius: 4px;
            background-color: $white;
            @include mq(sp){
                width: 88vw;
            }
        }

        &__textarea {
            width: 512px;
            height: 256px;
            border: 1px solid $sub;
            border-radius: 4px;
            background-color: $white;
            @include mq(sp){
                height: 216px;
                width: 88vw;
            }
        }
        }
    }
        }


// product.html
.product{
    .section-headline{
        text-align: center;
    }
    &-btn{
        margin-top: 88px;
        margin-bottom: 288px;
         @include mq(sp){
            margin-bottom: 144px;
         }
    }

    &-wrap{
        max-width: 1080px;
        margin: 54px auto 0;
        display: flex;
        justify-content: center;
        row-gap: 36px;
    }

    &-content{
        text-align: center;

        &__img{
            width: 560px;
            height: auto;
            box-shadow: 8px 8px 8px rgba(148, 148, 148, 0.5);
            display: inline-block;
            margin-top: 112px;

            @include mq(sp){
                width: 85vw;
            }
        }

        &__title{
            color: $sub;
            font-family: $KaiseiOpti;
            margin: 24px 0 16px 0;
        }

        &__category{
            font-family: $sans;
            font-weight: light;
            font-size: 14px;
            margin-bottom: 16px;
            color: $gray;


            // padding: 0.5em 1em;
            // display:block;
            // margin: 2em 0;
            // background: $main;/*背景色*/
        }

        &__text{
            width: 560px;
            font-family: $sans;
            font-weight:lighter;
            display: inline-block;
            text-align: left;
            line-height: 1.5;

            @include mq(sp){
                width: 80vw;
            }
        }
    }
}
